#header
{
	height: 80px;
	background-color : rgb(242, 247, 255)
}
#content
{
	border-top: dotted 1px #333;	
}
#mainContent
{
	padding-top : 10px;
	}
#footer
{
	text-align : center;
	border-top: dotted 1px #333;
	padding-top : 10px;
	margin-top : 10px;
}
#PageHeader
{
	border-bottom : dotted 1px #334;
	padding-bottom : 10px;
}

.append_bottom
{
	padding-bottom : 5px;
}
.textarea_h80
{
	height:80px;
}
.radioButtonList td 
{
	padding-right: 20px;
}
