<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <clear/>
    <add name="DefaultDBConnection" connectionString="Data Source=174.120.212.3;Initial Catalog=GW01;User Id=gw_user;Password=P@ssword1;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx"
        defaultUrl="default.aspx" />
    </authentication>
    <pages theme="Smoothness"/>

    <compilation debug="true" targetFramework="4.0"/>
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1"/>
    <!--Custom Membership Provider Configuration-->
    <membership defaultProvider="DBMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="DBMembershipProvider" type="CustomMembershipProvider.DBMembershipProvider" connectionStringName="DefaultDBConnection" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="true" writeExceptionsToEventLog="false"/>
      </providers>
    </membership>
  </system.web>

</configuration>