<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <clear/>
    <add name="DefaultDBConnection" connectionString="Data Source=174.120.212.3;Initial Catalog=GW01;User Id=gw_user;Password=P@ssword1;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <pages theme="Smoothness"/>
   
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>